.tispTimeline{
	box-sizing: border-box;
	display: flex;
}
.tispTimeline .debug{
	flex-shrink: 0;
	flex-grow: 0;
	padding: 1em;
	border: 1px solid black;
	width: 50%;
	overflow: hidden;
	user-select: none;
}

.tispTimeline .cvs{
	flex-grow: 1;
	height: 100vh;
	width: 100%;
}